<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import { Window } from './assets/ts/Window';
import { Door } from './assets/ts/Door';
import { Wall } from './assets/ts/Wall';
import { onMounted, ref } from 'vue';
import { IWallComponent } from './assets/ts/IWallComponent';
import { computed } from '@vue/reactivity';

class IdGenerator {
  private id: number = 0;

  public getNextId(): number {
    return this.id++;
  }
}
const idGenerator = ref<IdGenerator>(new IdGenerator());

// A room with 4 walls
const room = ref<Wall[]>([
  new Wall(idGenerator.value.getNextId(), 3, 4),
  new Wall(idGenerator.value.getNextId(), 3, 3),
  new Wall(idGenerator.value.getNextId(), 5, 2),
  new Wall(idGenerator.value.getNextId(), 2, 2),
]);

// Calculating the available area for painting in the room
const availableArea = computed(() => {
  return room.value.reduce((total, wall) => total + wall.getAvailableArea(), 0);
});
// Calculating the number of each cans of paint needed
const canSizes = [18, 3.6, 2.5, 0.5];
const paintCanCalculator = computed(() => {
  let availableS = availableArea.value;
  const cansAvailable = canSizes.map((size) => {
    const nCan = Math.floor(availableS / size);
    availableS -= size * nCan;
    return nCan;
  }
  );
  return cansAvailable;
});



// Functions to add and remove components from the walls
const addDoor = (wallIndex: number): void => {
  room.value[wallIndex]
    .addWallComponent(new Door(idGenerator.value.getNextId()));
};
const addWindow = (wallIndex: number): void => {
  room.value[wallIndex]
    .addWallComponent(new Window(idGenerator.value.getNextId()));
};
const removeComponent = (
  wallIndex: number,
  componentIndex: number
): void => {
  room.value[wallIndex].removeWallComponent(componentIndex);
}
</script>

<template>
  <h1>Paint Can Calculator</h1>
  <main>
    <div class="paint-can-calculator">
      <div class="cans-needed">
        <h2>Cans needed</h2>
        <ul>
          <li v-for="(size, index) in canSizes" :key="size">
            <span>{{ size }}: </span>
            <span>{{ paintCanCalculator[index] }}</span>
          </li>
        </ul>
      </div>
      <div class="available-area">
        Available area for painting: {{ availableArea }}m²
      </div>
    </div>
    <div class="room-container">
      <div class="wall-item"
        v-for="(wall, index) in room"
        :key="wall.getId"
        :id="wall.getId().toString()"
      >
        <div class="wall-header">
          <h2>Wall</h2>
          <!-- Buttons for adding components -->
          <button
            type="button"
            v-on:click="addDoor(index)"
          >+ Door</button>
          <button
            type="button"
            v-on:click="addWindow(index)"
          >+ Window</button>
          <!-- /Buttons for adding components -->
        </div>
        <div class="wall-attributes">
          <div class="dimensions">
            ↪ height: {{ wall.getHeight() }}m - width: {{ wall.getWidth() }}m
          </div>
      
        </div>
        <div class="wall-components">
          <div class="component"
            v-for="comp in wall.getWallComponents()"
            :key="comp.getId()"
          >
            <div class="component-name">{{ comp.constructor.name }}</div>
            <div class="component-attributes">
              Height: {{ comp.getHeight() }} - Width: {{ comp.getWidth() }}
            </div>
            <div class="component-actions">
              <button
                type="button"
                @click="removeComponent(index, comp.getId())"
              >X</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<style>
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(14, 14, 14);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(216, 216, 216);
  padding-left: 1rem;
  padding-right: 1rem;
}
main .wall-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wall-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  border-bottom: 1px solid #ccc;
}
.wall-components {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.cans-needed {
  font-size: 2rem;
}
</style>
